<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Meta Data -->
    <title>Yukti CTF</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">

    <link rel="stylesheet" href="{{ request.script_root }}/static/home/css/bootstrap.min.css">

    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">

    <link rel="stylesheet" href="{{ request.script_root }}/static/home/css/font-awesome.min.css">

    {% block stylesheets %}
    {% endblock %}

    <script src="{{ request.script_root }}/static/sweetalert/js/sweetalert.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{{ request.script_root }}/static/sweetalert/css/sweetalert.css">
    <script src="{{ request.script_root }}/static/{{ ctf_theme() }}/js/vendor/moment.min.js"></script>
    <script src="{{ request.script_root }}/static/original/js/vendor/handlebars.min.js"></script>

    <script type="text/javascript">
        var script_root = "{{ request.script_root }}";
    </script>

    {% block angularapp %}
    {% endblock %}

    <link href="{{ request.script_root }}/static/home/style.css" rel="stylesheet" type="text/css">
</head>

	<body>

    {% block preloader %}
    {% endblock %}

    <header>
            <nav class="navbar navbar-default navbar-fixed-top" role="navigation" data-spy="affix" data-offset-top="50">
                <div class="container-fluid">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand Glow" style="font-size:2em" href="/">{{ gettext("Yukti CTF") }}</a>
                    </div>


                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse navbar-left" id="navbar-collapse">
                        <ul class="nav navbar-nav">
                            <li><a data-scroll  class="last-child WhiteText" style="font-size:1em" href="{{ request.script_root }}/teams">{{ gettext("Students") }}</a></li>
                            <li><a data-scroll class="last-child WhiteText" style="font-size:1em" href="{{ request.script_root }}/scoreboard">{{ gettext("Scoreboard") }}</a></li>
                            <li><a data-scroll class="last-child WhiteText" style="font-size:1em" href="{{ request.script_root }}/challenges">{{ gettext("Challenges") }}</a></li>
                            <li><a data-scroll class="last-child WhiteText" style="font-size:1em" href="{{ request.script_root }}/about">{{ gettext("About") }}</a></li>
                            <li><a data-scroll class="last-child WhiteText" style="font-size:1em" href="{{ request.script_root }}/Solutions">{{ gettext("Solutions") }}</a></li>
                        </ul>
                    </div><!-- /.navbar-collapse -->
                    <div class="collapse navbar-collapse navbar-right" id="navbar-collapse">
                        <ul class="nav navbar-nav">
                                {% if username is defined %}
                                    {% if admin %}
                                        <li><a class="last-child WhiteText" style="font-size:1em" href="{{ request.script_root }}/admin">{{ gettext("Admin")}}</a></li>
                                    {%  endif %}
                                    {% if is_mentor() %}
                                        <li><a class="WhiteText" style="font-size:1em" href="{{ request.script_root }}/my-students">{{ gettext("My Students") }}</a></li>
                                    {% endif %}
                                        <li><a  class="WhiteText" style="font-size:1em" href="{{ request.script_root }}/team/{{ id }}">{{ session["username"] }}</a></li>
                                        <li><a  class="WhiteText" style="font-size:1em" href="{{ request.script_root }}/profile">{{ gettext("Profile") }}</a></li>
                                        <li><a  class="WhiteText" style="font-size:1em" href="{{ request.script_root }}/logout">{{ gettext("Logout") }}</a></li>
                                    {% else %}
                                    {% if can_register() %}
                                        <li><a  class="WhiteText" style="font-size:1em" href="{{ request.script_root }}/register">{{ gettext("Register") }}</a></li>
                                        <li><a  style="font-size:1em"  style="padding-left:0px;padding-right:0px;">|</a></li>
                                    {% endif %}
                                    <li><a class="WhiteText" style="font-size:1em" hstyle="font-size:1em"ref="{{ request.script_root }}/login">{{ gettext("Login") }}</a></li>
                                {% endif %}
                        </ul>
                    </div><!-- /.navbar-collapse -->


                </div><!-- /.container-fluid -->
            </nav>
        </header>

    <!--/* Intro  */-->

        <section id="intro">
            <div class="Plainblack-overlay"></div>
            <canvas id="demo-canvas"></canvas>

            <div class="content">
                {% block content %}

                {% endblock %}
            </div>

        <div class="lan-tab">
    <a href="/lan/en" class="lan">English |</a>
    <a href="/lan/hi" class="lan"> हिंदी |</a>
    <a href="/lan/mr" class="lan"> मराठी</a>
</div>

<style>
    .lan-tab {
        position: fixed;
        bottom: 4%;
        color: white;
        width: 100%;
        z-index: 4000;
        right: -89%;
    }

    .lan {
        display: inline-block;
        color: white;
        font-weight: bold;
        font-size: 1em;
    }
</style>

        </section>

        <!--/* END Intro  */-->



        <script type="text/javascript" src="{{ request.script_root }}/static/home/js/scripts.min.js"></script>

        <script src="{{ request.script_root }}/static/home/js/custom.js"></script>

        <script src="{{ request.script_root }}/static/home/js/OscarBackgroundEffect.js"></script>


        {% block scripts %}
        {% endblock %}

	</body>
</html>
