{% extends "base.html" %}

    <!--Scripts-->

    <!-- Angular -->

    {% block angularapp %}
        <script src="{{ request.script_root }}/static/challenges/js/angular/angular.js"></script>
        <script src="{{ request.script_root }}/static/challenges/js/angular/angular-loader.js"></script>
        <script src="{{ request.script_root }}/static/challenges/js/angular/angular-route.js"></script>
        <script src="{{ request.script_root }}/static/challenges/js/angular/angular-animate.js"></script>

        <!-- challenges app -->
        <script src="{{ request.script_root }}/static/challenges/js/app/app.module.js"></script>
        <script src="{{ request.script_root }}/static/challenges/js/app/app.config.js"></script>
        <script src="{{ request.script_root }}/static/challenges/js/app/challenge-list/challenge-list.module.js"></script>
        <script src="{{ request.script_root }}/static/challenges/js/app/challenge-list/challenge-list.component.js"></script>
        <link rel="stylesheet" href="{{ request.script_root }}/static/challenges/css/chal.css">
    {% endblock %}


    {% block content %}
        <body ng-app="challengeApp">
            <div ng-view></div>

        </body>
    {% endblock %}

