{% extends "base.html" %}

{% block stylesheet %}
    <link rel='stylesheet' href='{{ request.script_root }}/static/home/css/typewriter.css'>
{% endblock %}

{% block preloader %}
    <!--preloader-->
        <div class="ip-header">

            <div class="ip-loader" id="IDID" style="text-align: center">
                <p id="loader-name">Yukti CTF</p>
                <p id="loader-text"></p>
                <img src="{{ request.script_root }}/static/home/img/preloader.svg" width="50" alt="">
            </div>
        </div>
        <!--end preloader-->
{% endblock %}


{% block content %}
<div class="container VContentWrapperTable">
    <div class="row VContent">

        <div class="col-md-12 text-center">
            <h1 class="WhiteText Glow typewriter two">{{ gettext('Yukti CTF') }}</h1>
        </div>

        <div class="col-md-6 col-md-offset-3 text-center">
            <h3 class="WhiteText typewriter one">{{ gettext("Building Tomorrow's Cyber Warrior") }}</h3>

            <br></br>
        </div>
        <div class="col-md-12 text-center">
            <img src="{{ request.script_root }}/static/home/img/foss.png" width="50" alt="" hspace="20">
            <img src="{{ request.script_root }}/static/home/img/bi0s.png" width="50" alt="" hspace="20">
            <img src="{{ request.script_root }}/static/home/img/am.png" width="50" alt="" hspace="20">
            <img src="{{ request.script_root }}/static/home/img/sih.png" width="50" alt="" hspace="20">
        </div>
    </div>
</div>

<div class="lan-tab">
    <a href="/lan/en" class="lan">English |</a>
    <a href="/lan/hi" class="lan"> Hindi</a>
</div>

<style>
    .lan-tab {
        position: fixed;
        bottom: 4%;
        color: white;
        text-align: center;
        width: 100%;
        z-index: 4000;
    }

    .lan {
        display: inline-block;
        color: white;
        font-weight: bold;
        font-size: 1em;
    }
</style>
{% endblock %}

{% block script %}
    <script src='{{ request.script_root }}/static/home/js/dist.js'></script>
    <script src='{{ request.script_root }}/static/home/js/index.js'></script>
    <script src='{{ request.script_root }}/static/home/js/demo.js'></script>
    <script>
        var typewriter = require('typewriter-js');
        typewriter.prepare('.typewriter');
        typewriter.type('.typewriter')
            .then(function() {
                return typewriter.type('.typewriter');
            });
        typewriter.type('.typewriter', {
            delay: 1000 // milliseconds until next character
        });
    </script>
{% endblock %}