{% extends "base.html" %}

{% block stylesheets %}
{% endblock %}

{% block content %}

<div class="page-title">
    <h1>Teams</h1>
</div>
<div class="container main-container ScrollOn">
    <table id="teamsboard" class="table table-striped" style="border: 1px solid rgba(255,255,255,0.5); border-radius: 5px;">
        <thead id="teamsboard-head">
            <tr>
                <td style="padding: 30px;"><b>Team</b></td>
                <td style="padding: 30px;"><b>Website</b></td>
                <td style="padding: 30px;"><b>Affiliation</b></td>
                <td style="padding: 30px;"><b>Country</b></td>
            </tr>
        </thead>
        <tbody>
        {% for team in teams %}
            <tr>
                <td style="padding: 20px; background-color: transparent;">
                {% if hide_scores() %}
                    <span>{{ team.name }}</span>
                {% else %}
                    <a href="{{ request.script_root }}/team/{{ team.id }}">{{ team.name }}</a>
                {% endif %}
                </td>
                <td style="padding: 20px; background-color: transparent;">{% if team.website and (team.website.startswith('http://') or team.website.startswith('https://')) %}<a href="{{ team.website }}">{{ team.website }}</a>{% endif %}</td>
                <td style="padding: 20px; background-color: transparent;"><span>{% if team.affiliation %}{{ team.affiliation }}{% endif %}</span></td>
                <td style="padding: 20px; background-color: transparent;"class="hidden-xs"><span>{% if team.country %}{{ team.country }}{% endif %}</span></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% if team_pages > 1 %}
    <div class="text-center">Page
        <br>
        {% if curr_page != 1 %}<a href="{{ request.script_root }}/teams/{{ curr_page-1 }}">&lt;&lt;&lt;</a>{% endif %}
        {% for page in range(1, team_pages + 1) %}
            {% if curr_page != page %}
                <a href="{{ request.script_root }}/teams/{{ page }}">{{ page }}</a>
            {% else %}
                <b>{{page}}</b>
            {% endif %}
        {% endfor %}
        {% if curr_page != team_pages %}<a href="{{ request.script_root }}/teams/{{ curr_page+1 }}">&gt;&gt;&gt;</a>{% endif %}
    <a href="{{ request.script_root }}">
    </div>
    {% endif %}
</div>
{% endblock %}

{% block scripts %}
{% endblock %}
