html,
body {
    width:100%;
    height:100%;
    padding:0;
    margin-left:0;
    margin-right:0;
    overflow: hidden;
    color: white;

}

body {
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
}

/*general styles*/

#loader-name {
    wdith: 100px;
    color: white;
    font-size: 1.6em;
    font-weight: 600;
}

.DarkGreyBackground{
    background-color:#252525;
}

.ColorText{
    color:#5CDBE7
}

.ColorBar .progress-bar {
    background-color: #5CDBE7;
}

.GreyText{
    color: #3a3a3a;
}

.Glow{
    text-shadow: -1px 1px .2em rgba(255,255,255,.4),1px -1px .4em rgba(255,255,255,.4);
}

.SoftGreyText, .SoftGreyText a{
    color:#A0A0A0;
}

.PositionRelative{
    position:relative;
}

.CaptionFlyingBox{
    position: absolute;
    bottom:30px;
    left:70px;
    background: #efefef;
    padding:10px 40px;
    width:50%;
    -webkit-transition: all .5s ease .25s;
    transition: all .5s ease .25s;
}

.ImagewithCaptionOverlay:hover .CaptionFlyingBox{
    background:#eaeaea;
    bottom:40px;
    left:80px;
}


.container.PaddingVertical0{
    padding-top:0;
    padding-bottom:0;
}

.PaddingVertical15{
    padding-top: 15px;
    padding-bottom: 15px;
}


.PaddingVertical30{
    padding-top:30px;
    padding-bottom:30px;
}

.PaddingVertical45{
    padding-top:45px;
    padding-bottom:45px;
}

.PaddingTop30{
    padding-top:30px;
}

.PaddingBottom30{
    padding-bottom:30px;
}

.PaddingVertical60{
    padding-top:60px;
    padding-bottom:60px;
}

.PaddingVertical100{
    padding-top:100px;
    padding-bottom:100px;
}

.PaddingVertical130{
    padding-top:130px;
    padding-bottom:130px;
}

.PaddingHorizontal40{
    padding-left:40px;
    padding-right:40px;
}

.PaddingHorizontal60{
    padding-left:60px;
    padding-right:60px;
}


.NegativeMarginSection{
    margin-top:-80px;
    margin-bottom:40px;
}

.SimpleText{
    text-transform: none;
}

.SimpleText a{
    text-decoration: underline;
}


.SimpleText2{
    text-transform: none;
    font-size:32px;
}

.SimpleText2 a{
    text-decoration: underline;
    color: #d0d0d0
}

.SimpleText2 a:hover{
    text-decoration: underline;
}

a{
    color: white;
    text-decoration: none;
}

a:hover, a:focus{
    color: #626262;
    text-decoration: none;
    outline: 0;
}


img {
    -moz-user-select: none;
    /*-webkit-user-select: none;*/
    -ms-user-select: none;
    user-select: none;
    /*-webkit-user-drag: none;*/
    user-drag: none;
}

.VContent{
    display: table-cell;
    vertical-align: middle;
}

.VContentWrapperTable{
    display: table;
    height: 100%;
}

section{
    position: relative;
}

.container {
    position: relative;
    overflow: scroll;
    height: 600px;
}


.row{
    z-index:3;
    position:relative;
}

hr{
    margin-top:40px;
    margin-bottom:40px;
}

.separator{
    width:170px;
    max-width:170px;
    margin-top:120px;
    margin-bottom:100px;
}

.lineSeparator{
    width:60px;
    max-width:60px;
    margin-top:30px;
    margin-bottom:30px;
}




.black-overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    background: -moz-radial-gradient(center, ellipse cover, rgba(0,0,0,0) 0%, rgba(0,0,0,0.8) 100%); /* FF3.6+ */
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.8))); /* Chrome,Safari4+ */
    background: -webkit-radial-gradient(center, ellipse cover, rgba(0,0,0,0) 0%,rgba(0,0,0,0.8) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-radial-gradient(center, ellipse cover, rgba(0,0,0,0) 0%,rgba(0,0,0,0.8) 100%); /* Opera 12+ */
    background: -ms-radial-gradient(center, ellipse cover, rgba(0,0,0,0) 0%,rgba(0,0,0,0.8) 100%); /* IE10+ */
    background: radial-gradient(ellipse at center, rgba(0,0,0,0) 0%,rgba(0,0,0,0.8) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.Plainblack-overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    background:black;
    opacity:0.4
}

.noscroll{
    overflow:hidden;
}


.container{
    z-index:2;
    overflow: scroll;
}
::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}



.ImageWrapper img{
    padding:80px;
}


.BackgroundSoftGray{
    background: #f6f6f6;
}

/*buttons*/

.btn{
    background:transparent;
    border-radius:0;
    border:0;
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    position: relative;
    line-height: 40px;
    font-size: 12px;
    letter-spacing: .2em;
    width:100%;
    outline: 0px solid transparent;
    -webkit-transition: all .1s ease .2s;
    transition: all .1s ease .2s;
    padding:0;
}


.btn-default{
    display: inline-block;
    color: white;
}

.btn-default:hover{
    border-color: transparent;
}

.btn-default{
    font-family: 'Oswald', sans-serif;
    cursor: pointer;
    display: block;
    height: 18px;
    letter-spacing: 3px;
    line-height: 0;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    white-space: nowrap;
    width: 100%;
    background: transparent;
    font-size:12px;
}

.btn-default:after {
    content: '';
    display: block;
    height: 100%;
    position: relative;
    bottom: 2px;
    border: 2px solid #fff;
    border-top: 0;
}


.btn-default:before {
    height: 0;
    width: 100%;
    background-color: white;
    content: '';
    display: block;
    left: 0;
    position: absolute;
    bottom: 0px;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    z-index: -1;
}

.btn-default:hover:before{
    height:200%;
}

.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open>.dropdown-toggle.btn-default {
    color: #131613;
    background-color:transparent;
}


.btn:active, .btn.active {
    background-image: none;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.btn:focus, .btn:active:focus, .btn.active:focus {

    outline:none;
    color: #5CDBE7;

}

.btn-default.btn-black{
    color:#282828;
}

.btn-black:before {
    height: 0;
    width: 100%;
    background-color: #282828;
    content: '';
    display: block;
    left: 0;
    position: absolute;
    bottom: 0px;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    z-index: -1;
}

.btn-default.btn-black:after {
    content: '';
    display: block;
    height: 100%;
    position: relative;
    bottom: 2px;
    border: 2px solid #282828;
    border-top: 0;
}

.btn-black:hover{
    color:white;
}

/*NAVBAR */

.navbar-default {
    padding:30px;
    padding-left:50px;
    padding-right:50px;
    background-color: transparent;
    border-color: transparent;
    -webkit-transition: all .5s ease .25s;
    transition: all .5s ease .25s;
}
.navbar-default .navbar-brand{
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    color:white;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
    color: white;
    background-color: transparent;
}

.affix{
    background-color: #282828;
    padding-top:10px;
    padding-bottom:10px;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: white;
}

.navbar-default .navbar-toggle {
    border-color: transparent;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: transparent;
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:hover, .navbar-default .navbar-nav>.open>a:focus {
    color: white;
    background-color: transparent;
}

.navbar-nav > li > a {
    font-size: 11px;
    font-weight: 700;
    text-transform: uppercase;
    color: #d5d5d5;
    position: relative;
    font-family: 'Montserrat', sans-serif;
}


.dropdown-menu > li > a {
    display: block;
    padding: 3px 20px;
    clear: both;
    line-height: 1.42857143;
    color: white;
    white-space: nowrap;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 10px;
    letter-spacing: 1px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 3px 0 0;
    font-size: 10px;
    text-align: left;
    list-style: none;
    background-color: #323232;
    background-clip: padding-box;
    border: 0;
    box-shadow: none;
}

.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus {
    color: #d5d5d5;
}

.dropdown-menu>.active>a, .dropdown-menu>.active>a:hover, .dropdown-menu>.active>a:focus {
    color: #282828;
    background-color: #d5d5d5;
}

.dropdown-submenu{position:relative;}
.dropdown-submenu>.dropdown-menu{top:0;left:100%;margin-top:-6px;margin-left:-1px;-webkit-border-radius:0 6px 6px 6px;-moz-border-radius:0 6px 6px 6px;border-radius:0 6px 6px 6px;}
.dropdown-submenu:hover>.dropdown-menu{display:block;}
.dropdown-submenu>a:after{display:block;content:" ";float:right;width:0;height:0;border-color:transparent;border-style:solid;border-width:5px 0 5px 5px;border-left-color:#cccccc;margin-top:5px;margin-right:-10px;}
.dropdown-submenu:hover>a:after{border-left-color:#ffffff;}
.dropdown-submenu.pull-left{float:none;}
.dropdown-submenu.pull-left>.dropdown-menu{left:-100%;margin-left:10px;-webkit-border-radius:6px 0 6px 6px;-moz-border-radius:6px 0 6px 6px;border-radius:6px 0 6px 6px;}







@media (max-width: 768px){
    .dropdown-submenu li a{
        text-align:center;
    }
}


/*
 * Showup.js jQuery Plugin
 * http://github.com/jonschlinkert/showup
 *
 * Copyright (c) 2013 Jon Schlinkert, contributors
 * Licensed under the MIT License (MIT).
 */

/**
 * Docs navbar transitions effects
 */

.navbar {
    -webkit-transition: -webkit-transform .5s .5s, background .5s, color .1s;
    -moz-transition:    -moz-transform .5s .5s, background .5s, color .1s;
    -o-transition:      -o-transform .5s .5s, background .5s, color .1s;
    transition:         transform .5s .5s, background .5s, color .1s;
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
}

.navbar-tall,
.navbar-show {
    opacity: 1;
    -webkit-transition: -webkit-transform .25s, background 2s, color .3s;
    -moz-transition:    -moz-transform .25s, background 2s, color .3s;
    -o-transition:      -o-transform .25s, background 2s, color .3s;
    transition:         transform .25s, background 2s, color .3s;
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
}

.navbar-hide {
    opacity: 0;
    -webkit-transition: -webkit-transform .2s, background .3s, color .3s, opacity 0.3s;
    -moz-transition:    -moz-transform .2s, background .3s, color .3s, opacity 0.3s;
    -o-transition:      -o-transform .2s, background .3s, color .3s, opacity 0.3s;
    transition:         transform .2s, background .3s, color .3s, opacity 0.3s;
    -webkit-transform: translate(0, -80px);
    -ms-transform: translate(0, -80px);
    transform: translate(0, -80px);
}


.navbar-tall,
.navbar-short,
.navbar-tall .navbar-brand,
.navbar-short .navbar-brand,
.navbar-tall .navbar-nav > li > a,
.navbar-short .navbar-nav > li > a {
    -webkit-transition: all 0.2s linear;
    transition: all 0.2s linear;
}

.navbar-short {
    min-height: 40px;
}
.navbar-short .navbar-brand {
    font-size: 16px;
    padding: 13px 15px 10px;
}
.navbar-short .navbar-nav > li > a {
    padding-top: 12px;
    padding-bottom: 12px;
}


.navbar-tall {
    min-height: 70px;
}
.navbar-tall .navbar-brand {
    font-size: 24px;
    padding: 25px 15px;
}
.navbar-tall .navbar-nav > li > a {
    padding-top: 25px;
}




/*<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->*/
/*<!--PARALLAX ELEMENTS -->*/
/*<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->*/

.ParallaxElement1{
    pointer-events: none;
    position: relative;
    display: block;
    top: 2.75em;
    left: .5em;
    height: 300px;
    width: 100%;
    background: url(img/PatterDotted.png) 0 5px;
    background-size: 13px auto;
    opacity: 1;
    content: '';
}

.ParallaxElement2{
    pointer-events: none;
    position: absolute;
    display: block;
    top: 5em;
    left: 2em;
    height: 100px;
    width: 50px;
    opacity: 1;
    content: '';
}

.ParallaxElement3{
    pointer-events: none;
    position: absolute;
    display: block;
    top: 5em;
    left: 5em;
    height: 100px;
    width: 100px;
    border:2px solid #5CDBE7;
    opacity: 1;
    content: '';
}

.ParallaxElement4{
    pointer-events: none;
    position: absolute;
    display: block;
    top: 5em;
    left: 8em;
    height: 100px;
    width: 100px;
    border:2px solid #5CDBE7;
    opacity: 1;
    content: '';
}


.ParallaxElement4{
    pointer-events: none;
    position: absolute;
    display: block;
    top: 5em;
    left: 8em;
    height: 100px;
    width: 100px;
    border:2px solid #5CDBE7;
    opacity: 1;
    content: '';
}

.ParallaxElement5{
    pointer-events: none;
    position: absolute;
    display: block;
    top: 5em;
    left: 11em;
    height: 150px;
    width: 30px;
    opacity: 1;
    content: '';
}

.ParallaxElement6{
    pointer-events: none;
    position: absolute;
    display: block;
    top: 5em;
    left: 14em;
    height: 200px;
    width: 50px;
    border:2px solid #5CDBE7;
    opacity: 1;
    content: '';
}

.ParallaxElement7{
    pointer-events: none;
    position: relative;
    display: block;
    top: 2.75em;
    left: .5em;
    height: 200px;
    width: 100%;
    background: url(img/PatterDotted.png) 0 5px;
    background-size: 13px auto;
    opacity: 0.6;
    content: '';
}

.ParallaxElement8{
    pointer-events: none;
    position: absolute;
    display: block;
    top: 2.75em;
    right: 20%;
    height: 200px;
    width: 40%;
    background: url(img/PatternDottedWhite.png) 0 5px;
    background-size: 13px auto;
    content: '';
    opacity:0.5
}




/*<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->*/
/*<!--Intro -->*/
/*<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->*/
#intro{
    background:url('img/IntroBackground1.jpg') no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: 50% 0, 50% 0, 50% 0, 50% 0;
    background-repeat: repeat, repeat, repeat ,no-repeat;
}


/* preloader.css */
.preloaderLogo{
    min-width: 200px;
    max-width: 300px;
    width: 15%;
}
.ip-header {
    position: fixed;
    top: 0;
    z-index: 1050;
    min-height: 480px;
    width: 100%;
    height: 100%;
    background: #1d1d1d;
}
.ip-header h1 {
    margin: 0;
}
.ip-logo,
.ip-loader {
    position: absolute;
    left: 0;
    width: 100%;
    opacity: 0;
    cursor: default;
    pointer-events: none;
}
.ip-logo {
    top: 0;
    height: 100%;
    opacity:0;
    -webkit-transform: translate3d(0,25%,0);
    transform: translate3d(0,25%,0);
}
.ip-loader {
    bottom: 30%;
    width:50px;
    left:50%;
    margin-left:-25px;
}
.ip-header .ip-inner {
    display: block;
    margin: 0 auto;
}
.ip-header .ip-logo svg {
}
.ip-header .ip-logo svg path {
    fill: #046674;
}
.ip-header .ip-loader svg path {
    fill: none;
    stroke-width: 6;
}
.ip-header .ip-loader svg path.ip-loader-circlebg {
    stroke: #ddd;
}
.ip-header .ip-loader svg path.ip-loader-circle {
    -webkit-transition: stroke-dashoffset 0.2s;
    transition: stroke-dashoffset 0.2s;
    stroke: #046674;
}
/* Animations */
/* Initial animation of header elements */
.loading .ip-logo,
.loading .ip-loader {
    opacity: 1;
    -webkit-animation: animInitialHeader 1s cubic-bezier(0.7,0,0.3,1) both;
    animation: animInitialHeader 1s cubic-bezier(0.7,0,0.3,1) both;
}
.loading .ip-loader {
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s;
}
@-webkit-keyframes animInitialHeader {
    from { opacity: 0; -webkit-transform: translate3d(0,800px,0); }
}
@keyframes animInitialHeader {
    from { opacity: 0; -webkit-transform: translate3d(0,800px,0); transform: translate3d(0,800px,0); }
}
/* Header elements when loading finishes */
.loaded .ip-logo{
    opacity: 1;
}
.loaded .ip-loader {
    opacity: 1;
}
.loaded .ip-logo {
    -webkit-animation: animLoadedLoader 1s cubic-bezier(0.7,0,0.3,1) forwards;
    animation: animLoadedLoader 1s cubic-bezier(0.7,0,0.3,1) forwards;
}
@-webkit-keyframes animLoadedLogo {
    to { -webkit-transform: translate3d(0,100%,0) translate3d(0,50px,0) scale3d(0.65,0.65,1); }
}
@keyframes animLoadedLogo {
    to { -webkit-transform: translate3d(0,100%,0) translate3d(0,50px,0) scale3d(0.65,0.65,1); transform: translate3d(0,100%,0) translate3d(0,50px,0) scale3d(0.65,0.65,1); }
}
.loaded .ip-loader {
    -webkit-animation: animLoadedLoader 1s cubic-bezier(0.7,0,0.3,1) forwards;
    animation: animLoadedLoader 1s cubic-bezier(0.7,0,0.3,1) forwards;
}
@-webkit-keyframes animLoadedLoader {
    to { opacity: 0; -webkit-transform: translate3d(0,-100%,0) scale3d(0.3,0.3,1); }
}
@keyframes animLoadedLoader {
    to { opacity: 0; -webkit-transform: translate3d(0,-100%,0) scale3d(0.3,0.3,1); transform: translate3d(0,-100%,0) scale3d(0.3,0.3,1); }
}
/* Change the color of the logo */
.loaded .ip-logo svg path {
    -webkit-transition: all 0.5s ease 0.3s;
    transition: all 0.5s ease 0.3s;
    fill: #fff;
}
/* Header animation when loading finishes */
.loaded .ip-header {
    -webkit-animation: animLoadedHeader 1s cubic-bezier(0.7,0,0.3,1) forwards;
    animation: animLoadedHeader 1s cubic-bezier(0.7,0,0.3,1) forwards;
}
@-webkit-keyframes animLoadedHeader {
    to { -webkit-transform: translate3d(0,-100%,0); }
}
@keyframes animLoadedHeader {
    to { -webkit-transform: translate3d(0,-100%,0); transform: translate3d(0,-100%,0); }
}
/* Content animations */
.loaded .ip-main h2,
.loaded .ip-main .browser,
.loaded .ip-main .browser .box,
.loaded .codrops-demos {
    -webkit-animation: animLoadedContent 1s cubic-bezier(0.7,0,0.3,1) both;
    animation: animLoadedContent 1s cubic-bezier(0.7,0,0.3,1) both;
}
.loaded .ip-main .browser,
.loaded .ip-main .browser .box:first-child {
    -webkit-animation-delay: 0.1s;
    animation-delay: 0.1s;
}
.loaded .ip-main .browser .box:nth-child(2) {
    -webkit-animation-delay: 0.15s;
    animation-delay: 0.15s;
}
.loaded .ip-main .browser .box:nth-child(3) {
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s;
}
@-webkit-keyframes animLoadedContent {
    from { opacity: 0; -webkit-transform: translate3d(0,200px,0); }
}
@keyframes animLoadedContent {
    from { opacity: 0; -webkit-transform: translate3d(0,200px,0); transform: translate3d(0,200px,0); }
}
/* Change layout class for header */
.layout-switch .ip-header {
    position: absolute;
    display:none;
}
/* No JS */
.no-js .ip-header {
    position: relative;
    min-height: 0px;
}
.no-js .ip-header .ip-logo {
    margin-top: 20px;
    height: 180px;
    opacity: 1;
    -webkit-transform: none;
    transform: none;
}
.no-js .ip-header .ip-logo svg path {
    fill: #046674;
}

.content {
    position: fixed;
    top: 8%;
    bottom: 10%;
    width: 100%;
}

.ctf-name {
    font-size: 11em;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: -1px;
}

.content-home {
    margin-top: 10%;
    overflow: scroll;
}

.ctf-text {
    font-size: 2.2em;
    font-family: 'Montserrat', sans-serif;
    margin: 5% 0 5% 0;
}

.ctf-ministry {
    font-size: 1.7em;
    margin: 2% 0 7% 0;
}

.page-title {
    text-align: center;
    padding: 20px;
    font-size: 1.7em;
}

#teamsboard {
    background-color: rgba(255,255,255,0.05);
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 5px;
}

#teamsboard-head {
    background-color: rgba(255,255,255,0.23);
}

.team-data {
    padding: 10px;
}

.pad-down-10 {
  padding-top: 10px;
}
.ScrollOn {
  overflow: scroll;
}
::-webkit-scrollbar {
 width: 0px;  /* remove scrollbar space */
 background: transparent;  /* optional: just make scrollbar invisible */
}



@media only screen and (max-width: 500px) {
    .ctf-name {
        font-size: 5em;
    }
    .ctf-text {
        font-size: 1.5em;
    }

    .ctf-ministry {
        font-size: 1.3em;
    }
}

.btn-outlined {
    background-color: rgba(255,255,255,0.25);
    border: 1px solid rgba(255,255,255,0.37);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400);

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  color: #aca49c;
  font-size: 0.875em;
}

input:focus::-webkit-input-placeholder, textarea:focus::-webkit-input-placeholder {
  color: #bbb5af;
}

input::-moz-placeholder, textarea::-moz-placeholder {
  color: #aca49c;
  font-size: 0.875em;
}

input:focus::-moz-placeholder, textarea:focus::-moz-placeholder {
  color: #bbb5af;
}

input::placeholder, textarea::placeholder {
  color: #aca49c;
  font-size: 0.875em;
}

input:focus::placeholder, textarea::focus:placeholder {
  color: #bbb5af;
}

input::-ms-placeholder, textarea::-ms-placeholder {
  color: #aca49c;
  font-size: 0.875em;
}

input:focus::-ms-placeholder, textarea:focus::-ms-placeholder {
  color: #bbb5af;
}

/* on hover placeholder */

input:hover::-webkit-input-placeholder, textarea:hover::-webkit-input-placeholder {
  color: #e2dedb;
  font-size: 0.875em;
}

input:hover:focus::-webkit-input-placeholder, textarea:hover:focus::-webkit-input-placeholder {
  color: #cbc6c1;
}

input:hover::-moz-placeholder, textarea:hover::-moz-placeholder {
  color: #e2dedb;
  font-size: 0.875em;
}

input:hover:focus::-moz-placeholder, textarea:hover:focus::-moz-placeholder {
  color: #cbc6c1;
}

input:hover::placeholder, textarea:hover::placeholder {
  color: #e2dedb;
  font-size: 0.875em;
}

input:hover:focus::placeholder, textarea:hover:focus::placeholder {
  color: #cbc6c1;
}

input:hover::placeholder, textarea:hover::placeholder {
  color: #e2dedb;
  font-size: 0.875em;
}

input:hover:focus::-ms-placeholder, textarea:hover::focus:-ms-placeholder {
  color: #cbc6c1;
}

#form {
  position: relative;
  width: 500px;
  margin: 50px auto 100px auto;
}

input {
  font-family: 'Lato', sans-serif;
  font-size: 1.75em;
  width: 500px;
  height: 50px;
  padding: 0px 15px 0px 15px;

  background: transparent;
  outline: none;
  color: #fefff6;

  border: solid 1px #b3aca7;
  border-bottom: none;
    font-weight: 300;

  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
}

input:hover {
  background: rgba(179, 172, 167, 0.67);
  color: #e2dedb;
  font-weight: 300;
}

textarea {
  width: 470px;
  max-width: 470px;
  height: 110px;
  max-height: 110px;
  padding: 15px;

  background: transparent;
  outline: none;

  color: #726659;
  font-family: 'Lato', sans-serif;
  font-size: 0.875em;

  border: solid 1px #b3aca7;

  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
}

textarea:hover {
  background: #b3aca7;
  color: #e2dedb;
}

#submit {
  width: 500px;
  background-color: rgba(255, 255, 255, 0.2);
  margin: -5px 0px 0px 0px;

  font-family: 'Lato', sans-serif;
  font-size: 1.75em;
  color: #b3aca7;

  outline:none;
  cursor: pointer;

  border: solid 1px #b3aca7;
}

#submit:hover {
  color: #e2dedb;
}

fieldset {
  padding: 3%;
  border: 1px solid silver;
}

legend {
  padding: 0 20px;
  font-size: 1.25em;
}

label {
  position: relative;
}

input[type="checkbox"],
input[type="radio"] {
  position: absolute;
  clip: rect(0, 0, 0, 0);
}

input[type="checkbox"] + label::before,
input[type="radio"] + label::before {
  content: '\a0';
  display: inline-block;
  margin: .2em .5em;
  width: .8em;
  height: .8em;
  line-height: .75em;
  transition: all .5s;
  border: 1px solid silver;
}

input[type="radio"] + label::before {
  border-radius: 50%;
}

input[type="checkbox"]:checked + label::before,
input[type="radio"]:checked + label::before {
  content: '\a0';
  background: grey;
  border: 1px solid white;
  box-shadow: inset 0 0 0 1px white, 0 0 0 1px yellowgreen;
}

#score-graph {
    height: 450px;
    display: block;
    clear: both;
}
