<div class="side-bar">
    <div class="side-bar-elements"></div>
    <div class="side-bar-elements"></div>
    <div class="side-bar-elements"></div>
    <div class="side-bar-elements"></div>
    <div class="side-bar-elements"></div>
    <div class="side-bar-elements"></div>
    <div class="side-bar-elements"></div>
    <div class="side-bar-elements"></div>
</div>



<div class="chal-left">
<!--<div>
    <input class="chal-search" placeholder="Search" style="z-index: 4000;" ng-model="$ctrl.query"/>
</div> -->
    <div class="chal-list">
        <p class="chal-cat">Cryptography</p>
        <div class="challenge" ng-class="{'chal-hidden':challenge.hidden}" ng-repeat="challenge in $ctrl.challenges.game | filter:'cryptography' | orderBy:'id'" ng-click="$ctrl.selection = $ctrl.check_hidden(challenge, challenge.hidden)">
            <p class="chal-name">{{ challenge.name }}</p>
            <p class="chal-score">{{ challenge.value }}</p>
        </div>

        <br>

        <p class="chal-cat">Exploitation</p>
        <div class="challenge" ng-class="{'chal-hidden':challenge.hidden}" ng-repeat="challenge in $ctrl.challenges.game | filter:'exploitation' | orderBy:'id'" ng-click="$ctrl.selection = $ctrl.check_hidden(challenge, challenge.hidden)">
            <p class="chal-name">{{ challenge.name }}</p>
            <p class="chal-score">{{ challenge.value }}</p>
        </div>
        <br>

        <p class="chal-cat">Forensics</p>
        <div class="challenge" ng-class="{'chal-hidden':challenge.hidden}" ng-repeat="challenge in $ctrl.challenges.game | filter:'forensics' | orderBy:'id'" ng-click="$ctrl.selection = $ctrl.check_hidden(challenge, challenge.hidden)">
            <p class="chal-name">{{ challenge.name }}</p>
            <p class="chal-score">{{ challenge.value }}</p>
        </div>

        <br>

        <p class="chal-cat">Web</p>
        <div class="challenge" ng-class="{'chal-hidden':challenge.hidden}" ng-repeat="challenge in $ctrl.challenges.game | filter:'web' | orderBy:'id'" ng-click="$ctrl.selection = $ctrl.check_hidden(challenge, challenge.hidden)">
            <p class="chal-name">{{ challenge.name }}</p>
            <p class="chal-score">{{ challenge.value }}</p>
        </div>

        <br>


        <p class="chal-cat">Reversing</p>
        <div class="challenge" ng-class="{'chal-hidden':challenge.hidden}" ng-repeat="challenge in $ctrl.challenges.game | filter:'reversing' | orderBy:'id'" ng-click="$ctrl.selection = $ctrl.check_hidden(challenge, challenge.hidden)">
            <p class="chal-name">{{ challenge.name }}</p>
            <p class="chal-score">{{ challenge.value }}</p>
        </div>

        <br>

        <p class="chal-cat">Trivia</p>
        <div class="challenge" ng-class="{'chal-hidden':challenge.hidden}" ng-repeat="challenge in $ctrl.challenges.game | filter:'trivia' | orderBy:'id'" ng-click="$ctrl.selection = $ctrl.check_hidden(challenge, challenge.hidden)">
            <p class="chal-name">{{ challenge.name }}</p>
            <p class="chal-score">{{ challenge.value }}</p>
        </div>

        <br>

        <p class="chal-cat">Boss</p>
        <div class="challenge" ng-class="{'chal-hidden':challenge.hidden}" ng-repeat="challenge in $ctrl.challenges.game | filter:'boss' | orderBy:'id'" ng-click="$ctrl.selection = $ctrl.check_hidden(challenge, challenge.hidden)">
            <p class="chal-name">{{ challenge.name }}</p>
            <p class="chal-score">{{ challenge.value }}</p>
        </div>
    </div>

</div>

<div class="vertical-line">
</div>

<div class="chal-right">
    <div class="slide-animate" ng-include="'/static/challenges/js/app/challenge-detail/challenge-detail.template.html'"></div>
</div>

<script src="https://code.jquery.com/jquery-1.10.2.js"></script>

<script>
     //Firefox
     $('.chal-left').bind('DOMMouseScroll', function(e){
         if(e.originalEvent.detail > 0) {
             //scroll down
             console.log('Down');
         }else {
             //scroll up
             console.log('Up');
         }

         //prevent page fom scrolling
         return false;
     });

     //IE, Opera, Safari
     $('.chal-left').bind('mousewheel', function(e){
         if(e.originalEvent.wheelDelta < 0) {
             //scroll down
             console.log('Down');
         }else {
             //scroll up
             console.log('Up');
         }
         //prevent page fom scrolling
         return false;
     });
</script>

<style>
    .chal-cat {
        font-size: 1.1em;
        font-weight: 600;
    }
    .challenge:hover {
        background-color: rgba(133,133,133,0.6);
        font-weight: 600;
        box-shadow: 0px 0px 150px #000000;
        z-index: 2;
        -webkit-transition: all 200ms ease-in;
        -webkit-transform: scale(1.5);
        -ms-transition: all 200ms ease-in;
        -ms-transform: scale(1.5);
        -moz-transition: all 200ms ease-in;
        -moz-transform: scale(1.5);
        transition: all 200ms ease-in;
        transform: scale(1.5);
    }
</style>
