<div class="container-fluid">
  <div class="row">
    <div class="col-md-2">
      <!--Sidebar content-->

      Search: <input ng-model="$ctrl.query" />

    </div>
    <div class="col-md-10">
      <!--Body content-->

      <ul class="challenges">
          <button ng-repeat="challenge in $ctrl.challenges.game" ng-click="$ctrl.selection = challenge">{{challenge.name}}</button>
        </li>
      </ul>


        <div class="slide-animate-container">
            <div class="slide-animate" ng-include="'/static/challenges/js/app/challenge-detail/challenge-detail.template.html'"></div>
        </div>

    </div>
  </div>
</div>