.typewriter span {
	opacity: 0;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    	filter: alpha(opacity=0);
}

.typewriter span.show {
	opacity: 1;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	    filter: alpha(opacity=100);
}

/* IE issues */
.lt-ie9 .typewriter span {
	display: inline-block;
}

.lt-ie9 .typewriter span.whitespace {
	min-width: 0.35em;
}